*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

:root{
    --navigation-height: 5.5rem;
}

a{
    color: black;
}

/*Thành phần của thanh navbar*/
.navigation{
    height: var(--navigation-height);
    width: 100%;
    background-color: yellow;
    line-height: var(--navigation-height);
}

/*Animation cho bông hoa (Lát sửa lại)*/

.main-icon{
    display: flex;
    float: left;
    font-size: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.main-icon a{
    padding-left: 0.5rem;
}

.main-icon a:hover{
    color: palevioletred;
}

.apricot-flower{
    animation: flower-rotation 1.5s linear infinite;
    animation-delay: 0s;
}

@keyframes flower-rotation {
    to{
        transform: rotate(360deg);
    }
}

/*Những option trên thanh ngang ngoại trừ mục "Chùa cúng"*/

.option{
    width: 80%;
    position: relative;
}

.option ul li {
    display: flex;
    float: left;
    font-size: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}


.option ul li:hover{
    background-color: green;
}

.option ul li a:hover{
    color: greenyellow;
}

.info-option-container{
    width: 18.5rem;
    position: relative;
}

/*Bên dưới chỗ thông tin thêm*/
.infomation{
    display: none;
}

.info-option-container:hover .infomation{
    display: block;
}

.info-option-1{
    font-size: 2rem;
    width: 20rem;
    text-align: center;
    position: absolute;
    padding-right: 0.5rem;
    padding-left: 2rem;
    margin-left: -2rem;
    background-color: yellowgreen;
}

.info-option-1:hover{
    background-color: green;
    color: whitesmoke;
}

.info-option-1:hover a{
    color: whitesmoke;
}

.info-option-2{
    width: 20rem;
    font-size: 2rem;
    text-align: center;
    margin-top: 4rem;
    position: absolute;
    padding-right: 0.5rem;
    padding-left: 2rem;
    margin-left: -2rem;
    background-color: yellowgreen;
}

.info-option-2:hover{
    background-color: green;
}

.info-option-2:hover a{
    color: whitesmoke;
}
